# requirements.txt
# --------------------
pandas==1.4.4
shapely==1.8.0
pyproj
rasterio
xarray
cython
retrying
sqlalchemy
boto3
scipy
psutil
numexpr
rtree
pathvalidate
netcdf4
rioxarray
matplotlib
geopandas
